<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: rgb(200, 212, 212);
            }
            .t{
                margin-top: 200px;
                width:200px;
                height:20px
            }
            .l{
                font-size: 35px;
            }
            ul{
                list-style-type: none;
            }
            td{
                width:100px;
                font-size: 50px;
            }
            .a{
                margin-left: 1415px;
                font-size: 20px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: black;
                text-decoration: none
            }
        </style>
    </head>
    <body>
        <a href="/logout" class="a">LOGOUT</a>
        <center>
            <h1>THE STUDENTS WHICH ALL ARE NOT ACCEPTED / DELETED FOR ATTENDANCE CAN SEE STATUS HERE</h1>
            <h2>REGISTRATION NUMBERS:</h2>
            <table class="t">
                <% responseArrays.forEach(function(ele){ %>
                    <tr>
                        <td><center><%=ele.regno%></center></td>
                    </tr>
                <%  }); %> 
            </table>
        </center>
    </body>
</html>